<div class="card mx-auto p-2 mt-3 border border-0 shadow-sm bg-primary-subtle" style="width: 25rem;">
    <div class="card-body">
        <h4 class="card-title">Nuevo Cliente</h4>
        <hr>
        <form action="#">
            <div class="row mb-2">
                <div class="col">
                    <label for="idCliente">Id/Nit:</label>
                    <input type="text" class="form-control" name="idCliente" id="idCliente" [(ngModel)]="idCliente">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label for="nombreCliente">Nombre Completo:</label>
                    <input type="text" class="form-control" name="nombreCliente" id="nombreCliente" [(ngModel)]="nombreCliente">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label for="telefonoCliente">Tel / Cel:</label>
                    <input type="text" class="form-control" name="telefonoCliente" id="telefonoCliente" [(ngModel)]="telefonoCliente">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="correoCliente">Correo:</label>
                    <input type="text" class="form-control" name="correoCliente" id="correoCliente" [(ngModel)]="correoCliente">
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button" (click)="AgregarCliente()">Agregar <i class="bi bi-person-fill-add"></i> </button>
              </div>
        </form>
    </div>
</div>