<div class="container mt-1 p-2" id="menucontainer">
    <div class="row">
        <!--menu-->
        <div class="col-md-4 p-2">
            <nav class="navbar navbar-expand-lg bg-primary-subtle">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Clientes App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Menú Principal
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" [routerLink]="['/nuevocliente']" routerLinkActive="router-link-active" >Nuevo Cliente</a></li>
                                    <li><a class="dropdown-item" href="#" [routerLink]="['/listadoclientes']" routerLinkActive="router-link-active" >Listado de Clientes</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!--titulo-->
        <div class="col-md-8 p-2 lh-1">
            <h1>Clientes App</h1>
            <p class="fs-4">App para la administracion de Clientes</p>
        </div>
    </div>
</div>