<div class="container-fluid mt-3 p-2 overflow-auto " id="tablecontainer">
    <table class="table table-striped table-primary text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id/Nit</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tel/Cel</th>
                <th scope="col">Correo</th>
                <th scope="col">op</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{cliente.idCliente}}</td>
                <td>{{cliente.nombreCliente}}</td>
                <td>{{cliente.telefonoCliente}}</td>
                <td>{{cliente.correoCliente}}</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm" [routerLink]="['/editarcliente',i]" routerLinkActive="router-link-active" >edit</a> | 
                    <button class="btn btn-sm btn-danger">Delet</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>